/EzSkypeEzLife.iml
/login.json
/.idea
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/pom.xml
/dependency-reduced-pom.xml
/skype.log
